/* your code */
body{
	background-color: grey;
	font-family:sans-serif;
	text-align:center;
}

table{
	border-collapse: collapse;
	width: 70%;
	margin: 40px auto;
	border-radius:10px;
	overflow:hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	
}

thead {
    background-color: #003366;
    color: white;
}
